<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 开启注解驱动 -->
    <!-- 这样可以使用@Controller这些注解 -->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"></mvc:annotation-driven>
    <!-- 自定不同类型的content-type -->
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <!-- 禁用根据路径后缀作数据类型转换 -->
        <property name="favorPathExtension" value="false"></property>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--指定静态资源路径-->
    <mvc:resources mapping="/static/**" location="/static/"></mvc:resources>

     <!--配置上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--限制文件大小，以字节为单位-->
        <property name="maxUploadSize" value="31457280"></property>
    </bean>
</beans>