<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.dao.RegisterMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.pojo.Register" >
    <id column="register_id" property="registerId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    register_id, user_name, user_pass, email, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lv_register
    where register_id = #{registerId,jdbcType=INTEGER}
  </select>
  <select id="loginByUserNameAndUserPass" resultMap="BaseResultMap" >
    SELECT * FROM lv_register WHERE user_name=#{userName} AND user_pass=#{userPass}
  </select>
  <select id="checkUserName" resultMap="BaseResultMap">
    SELECT * FROM lv_register WHERE user_name=#{userName}
  </select>
  <select id="checkEmail" resultMap="BaseResultMap">
    SELECT * FROM lv_register WHERE email=#{email}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lv_register
    where register_id = #{registerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinasofti.pojo.Register" >
    insert into lv_register (register_id, user_name, user_pass,
      email, state)
    values (#{registerId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.pojo.Register" >
    insert into lv_register
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="registerId != null" >
        register_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPass != null" >
        user_pass,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="registerId != null" >
        #{registerId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.pojo.Register" >
    update lv_register
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where register_id = #{registerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.pojo.Register" >
    update lv_register
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pass = #{userPass,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where register_id = #{registerId,jdbcType=INTEGER}
  </update>
</mapper>