<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.pojo.UserInfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, photo, sex, birthday, qq, place, phone, introduction, hobby
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lv_userinfo
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap">
    SELECT * FROM lv_userinfo WHERE  user_name=#{userName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lv_userinfo
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insertUserNameToUserInfo" parameterType="java.lang.String">
    INSERT INTO lv_userinfo(user_name) VALUES (#{userName})
  </insert>
  <insert id="insert" parameterType="com.chinasofti.pojo.UserInfo" >
    insert into lv_userinfo (user_id, user_name, photo,
      sex, birthday, qq, 
      place, phone, introduction, 
      hobby)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{place,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{hobby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.pojo.UserInfo" >
    insert into lv_userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.pojo.UserInfo" >
    update lv_userinfo
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.pojo.UserInfo" >
    update lv_userinfo
    set user_name = #{userName,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByUserInfo" parameterType="com.chinasofti.pojo.UserInfo">
    UPDATE lv_userinfo SET sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR}
      WHERE user_name= #{userName,jdbcType=VARCHAR}
  </update>
</mapper>